<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form th:object="${ubahPembelian}" th:action="@{/ubahPembelian}" method="post">
    <input type="text" id="id_pembelian" th:field="*{id_pembelian}" placeholder="ID Pembelian" required>
    <input type="text" id="id_pelanggan" th:field="*{id_pelanggan}" placeholder="ID Pelanggan" required>
    <input type="text" id="total_pembelian" th:field="*{total_pembelian}" placeholder="Total Pembelian">
    <input type="text" id="tanggal_pembelian" th:field="*{tanggal_pembelian}" placeholder="Tanggal Pembelian">
    <button type="submit">Ubah Pembelian</button>
</form>


</body>
</html>